/* CSS */

body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #4e545e
}


   .header-img {
    margin: 5rem auto;
    /* height: 20rem; */
    padding-bottom: 25%;
    max-width: 600px;
    background-image: url('BlueSky.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   }

  nav {
    background-color: #60b0f4;
    height: 50px;
    /* position: fixed; */
    width: 100%;
  }

ul {
  list-style: none;
  margin: 0 auto;
}

li  {
  display: inline-block;
  color: white;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
}

 a {
  color: white;
  text-decoration: none;
}

.CTA {
  color:white;
  max-width: 100%;
  height:30rem;
  padding-bottom: 10%;
  margin: 0 auto;
  background-image: url('puzzle-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 35px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  
}

#CTA-button {
  margin: 0 auto;
  padding: 1rem;
  border:2px solid;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
}

.info { 
  width: 100%;
}

#info-text {
   bottom: 50em;
  color: #60b0f4;
  font-size: 3em;
  margin: 0 auto;
}

#sub-text {
  margin: 0 auto;
  font-size: 2em;

}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  float: left;
}

.img-container {
  position: relative;
}


img {
  height:20em;
  width:20em;
  border-radius: 5px;
  transition: 0.3s;
  margin: 2em;
  
}

img:hover {
 filter: grayscale(100%);
 transform: scale(1.0);
 border: 2px solid #5e6a7c;
 color: white;
}


footer {
  background-color: #60b0f4;
  color: white;
  height: 12em;
  margin: auto auto 5px;;
}

#copyright {
  text-align: end;
  bottom: 0;
}

